==
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta tags
	________________________________________________________________________-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Page title
	________________________________________________________________________-->

	<!-- Loading google fonts
	________________________________________________________________________-->
	<!-- import google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Anton|Ubuntu" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Loading css files
	________________________________________________________________________-->

	<link rel="stylesheet" type="text/css" href="{{ 'assets/plugins/ooraslider/css/slider.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/plugins/mediaelementjs/css/mediaelementplayer.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/slider.css'|theme }}">


	<!-- Loading scripts start
	________________________________________________________________________-->

	<script src="{{ 'assets/plugins/jquery/js/jquery.min.js'|theme }}"></script>
	<script src="{{ 'assets/plugins/mediaelementjs/js/mediaelement-and-player.min.js'|theme }}"></script>

</head>

<body style="overflow: hidden; padding: 0; margin: 0; border: 0;">
	<!-- loading gif file
	<div class="loading">
	    <p class="loadingWelcome">Welcome to Wimera!!! </p>
	    <p class="loadingProgress">(please wait, loading is in progress...)</p>
	</div>-->

	<main>
		{% page %}
	</main>

	<!-- Loading scripts start
	________________________________________________________________________-->

	<script src="{{ 'assets/plugins/ooraslider/js/slider.js'|theme }}"></script>
	<script src="{{ 'assets/plugins/mediaelementjs/js/app.js'|theme }}"></script>

</body>
</html>

