/* style sheets */
.chatbox {
    position: fixed;
    bottom:0;
    padding: 2px;
    background:  #000;
	width: 300px;
	z-index: 90;
}

.chatbox-titlebar {

    color: #e6e6e6;

    padding: 3px;
    height: 32px;
    cursor: pointer;

    border-bottom: 1px solid #000;
    background: #464646;
}

.chatbox-titlebar > a {
	color: white;
	font-weight: bold;
}

.chatbox-content {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.chatbox-log {
    padding: 3px;
    height: 200px;
	overflow: hidden;
    /*overflow-y: auto;
    overflow-x: hidden;*/

    background-color: #000;
}

.chatbox-log  li {
	list-style-type: none;
}

.chatbox-log  li  a {
    float: left;
    padding: 15px 3px;
    text-shadow: 0px 1px 1px #000;
    font-size: 1em;
    color: #fff;
	text-decoration: none;
}

.chatbox-input {
    padding: 3px;
    border-top: 1px solid grey;
    /*overflow: hidden;*/
}

.chatbox-input-box {
    margin: 5px;
    border: 2px solid lightgrey;/* #6699FF */
    padding: 2px;
    height: 50px;
}

.chatbox-icon {
    float: right;
	padding: 0 5px;
}

.chatbox-input-focus {
    border-color: #6699FF;
}

.chatbox-msg {
    margin-top: 10px;
    float: left;
    clear: both;
    /* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

marquee > li > a:hover {
	text-decoration: underline;
}

marquee > li {
	padding: 30px 0;
}


