==
<section id="footer" style="margin-top: 100px; background: #000;" class="bg-primary ng-scope">
	   <div class="container">
		   <div class="row">
			   <div class="col-md-3 col-sm-6">
				   <h3>Address</h3>
				   <p id="footerAddress">
						Office:
							<a>Wimera Systems Pvt Ltd</a>
						<br>
							<a>KRS Infra Business Centre</a>
						<br>
							<a>HSR Layout, Bangalore</a>
						<br>
							<a>India – 560 102</a>
						<br>
				   </p>
				   <p>
				   		E-Mail:
							<a href="info@wimerasys.com">info@wimerasys.com</a>
				   </p>
			   </div>
			   <div class="col-md-3 col-sm-6">
				   <h3>Company</h3>
				   <ul>
					   <li><a href="#">How it Works</a></li>
					   <li><a href="#">Services</a></li>
					   <li><a href="#">Products</a></li>
					   <li><a href="#">Careers</a></li>
					   <li><a href="#">Blog</a></li>
					   <li><a href="#">Contact</a></li>
				   </ul>
			   </div>
			   <div class="col-md-3 col-sm-6">
				   <h3>Connect</h3>
				   <ul>
					   <li><a href="#"><i class="icon icon-facebook2"></i> Facebook</a></li>
					   <li><a href="#"><i class="icon icon-twitter"></i> Twitter</a></li>
				   </ul>
			   </div>
			   <div class="col-md-3 col-sm-6">
				   <h3>About Us</h3>
				   <p>Wimera is a leading company for software solutions and services</p>
				   <p><a href="{{ 'aboutus'|page }}" class="btn btn-success btn-sm btn-outline">More About Us</a></p>
			   </div>
				<br>
				<br>
				<br>
		   </div>
	   </div>
   </section>

