==
<div class="headerBase">
			<div class="header">
				<div class="headerFlagsContainer">
					<a href="#">
						<img class="headerFlags" src="{{ 'assets/images/flags/in.png'|theme }}">
					</a>
					<a href="#">
						<img class="headerFlags" src="{{ 'assets/images/flags/nl.png'|theme }}">
					</a>
					<a href="#">
						<img class="headerFlags" src="{{ 'assets/images/flags/de.png'|theme }}">
					</a>
				</div>

				<nav class="navbar">
					<div class="logo">
						<a href="/">
							<img class="" style="" src="{{ 'assets/images/logo.png'|theme }}" alt="LOGO">
						</a>
					</div>
					<div id="head-mobile"></div>
					<div class="sandwitch"></div>
					<ul>
						<li id="nav-home"><a href='/'>HOME</a></li>
						<li id="nav-aboutus"><a href="{{ 'aboutus'|page }}">ABOUT US</a></li>
						<li id="nav-solutions"><a href='#'>SOLUTIONS</a>
							<ul>
								<li><a href="{{ 'solutions/automotive'|page }}">Automotive</a>
									<!--<ul>
										<li><a href='#'>Sub Product</a></li>
										<li><a href='#'>Sub Product</a></li>
									</ul>-->
								</li>
								<li><a href="{{ 'solutions/iot'|page }}">IOT</a>
									<!--<ul>
										<li><a href='#'>Sub Product</a></li>
										<li><a href='#'>Sub Product</a></li>
									</ul>-->
								</li>
								<!--<li><a href='#'>Solution-1</a>
									<ul>
										<li><a href='#'>Sub Product</a></li>
										<li><a href='#'>Sub Product</a></li>
									</ul>
								</li
								<li><a href='#'>Product-2</a>
									<ul>
										<li><a href='#'>Sub Product</a></li>
										<li><a href='#'>Sub Product</a></li>
									</ul>
								</li>
								<li><a href='#'>Serive-1</a>
									<ul>
										<li><a href='#'>Sub Product</a></li>
										<li><a href='#'>Sub Product</a></li>
									</ul>
								</li>-->
							</ul>
						</li>
						<li id="nav-contactus"><a href="{{ 'contactus'|page }}">CONTACT US</a></li>
					</ul>
				</nav>

				<!--<div class="scroll-left">
		<p>
		Responsive CSS3 Menu Dropdown + Submenus Width Toggle Animation
		</p>
		</div>-->
			</div>
		</div>
